.container{
    border: 0px;
    box-shadow: 4px 5px 15px 0px rgba(0,0,0,0.44);
    margin: 3px;
    border-radius: 3px;
    background-color: blanchedalmond;
    padding: 5px;
    height: 170px;
    width: 250px;
}

.text{
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 35px;
    justify-content: space-between;
}

.text button{
    background-color: blanchedalmond;
    border: none;
    cursor: pointer;
}

.both{
    display: flex;
    text-decoration: none;
    color: inherit;
}

.info{
    margin-top: 5vh;
}