.maxContainer{
    display: flex;
    flex-direction: column;
}

.twoContainer{
    display: flex;
    flex-direction: row;
}

.clientsContainer{
    width: 40vw;
    height: 64vh;
}

.productsContainer{
    width: 50vw;
    height: 64vh;
}

.createContainer{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.createContainer button{
    width: 15vw;
    height: 10vh;
    font-size: 20px;
}

.clientSelected{
    background-color: aquamarine;
    width: 200px;
    margin-left: 30px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.productSelecteditem{
    display: flex;
    gap: 10px;
}

.totalPrice{
    background-color: greenyellow;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}