.container{
    display: flex;
    gap: 20px;
}

.cliente{
    background-color: rgb(43, 43, 43);
    color: white;
}

.orders{
    background-color: tomato;
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
}

.pedido{
    border-right: 2px solid white;
    color: white;
    background-color: rgb(21, 21, 37);
}

.pdf{
    display: flex;
    gap: 200px;
}

.icon{
    cursor: pointer;
}
