.container{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: rgb(249, 153, 153);
    margin: 1px;
    height: 80vh;
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
}

.botones{
    display: flex;
}